.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    background-color: #555195;
    border: 1px solid #605ca8;
    border-radius: unset;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header, .navbar-nav>.messages-menu>.dropdown-menu>li.header, .navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: unset;
    color: #e8e8e8;
}


.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    color: #fbfbfb;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p {
    color: #d8d8d8;
}


.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a, .navbar-nav>.messages-menu>.dropdown-menu>li.footer>a, .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
}


.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
    /*background: rgba(96, 92, 168, 0.4);*/
    background: rgba(255, 255, 255, 0.2);
}


.header-sm {
    font-size:13px !important;;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    font-size:13px !important;
}