.layout-boxed .wrapper {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

body {
    font-size: 12px;
}

body p {
    font-size: 12px;
}

body label {
    font-size: 12px;
}

input {
    font-size: 12px !important;
}

.nav-tabs-custom > .nav-tabs > li {
    border-left: 3px solid transparent;
    border-top: unset;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-left-color: #3c8dbc !important;
    border-top-color: unset;
}

.btn-aqua {
    background-color: rgba(0, 192, 239, 0.1);
    border-color: #00acd6;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000 !important;
}

.select2-container .select2-selection--single {
    height: 32px !important;
}

.select2-container--default .select2-selection--single {
    border-radius: unset;
}

.select2-container--default .select2-selection--multiple {
    border-radius: unset;
}

.select2-results__option[aria-selected=true] {
    display: none;
}