.layout-boxed .wrapper {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

body p {
    font-size: 13px;
}

body label {
    font-size: 13px;
}

input {
    font-size: 13px !important;
}

.nav-tabs-custom > .nav-tabs > li {
    border-left: 3px solid transparent;
    border-top: unset;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-left-color: #3c8dbc !important;
    border-top-color: unset;
}
