th {
    font-size: 12px;
}

tr > td {
    font-size: 12px;
}

body, label, .form-control  {
    font-size: 11px;
}

option {
    font-size: 11px !important;
}

textarea {
    font-size: 11px !important;
}

.btn {
    font-size: 12px;
}

label {
    font-size: 12px;
}

.main-header .logo {
    font-family: unset;
    font-size: 14px;
}

ul.sidebar-menu > li {
    font-size: 11px !important;
}

.select2-selection__choice {
    color: black !important;
    border-radius: unset !important;
}

.select2-selection {
    border-radius: unset !important;
}

#info-table table {
    position: relative;
    border-collapse: collapse;
}

#info-table td, th {
    padding: 0.25em;
}

#info-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0px;
    background: #615e97;
    color: #FFF;
    text-align: center;
}

#info-table thead th:first-child {
    left: 0;
    z-index: 1;
}

#info-table tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
}

#info-table tbody td {
    min-width: 80px;
    text-align: center;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 0;
    color: white;
    z-index: 2;
}

div.sticky2 {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 130px;
    z-index: 2;
}

.urv-summary th {
    border-bottom: 1px solid #c1c1c1 !important;
}
