.profile_info_block  {
    padding: 0 0 10px;
    margin-top: 10px;
    border-top: 1px solid #e7e8ec;
}


.profile_info_header_wrap {
    border-bottom: none;
    position: relative;
    margin: -11px 0 15px;
}

.profile_info_header {
    padding-bottom: 4px;
    padding-right: 7px;
    background-color: #fff;
    font-size: 12px;
}

.clear_fix {
    display: block;
}

.fl_l {
    float: left;
}


.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    border: 1px solid #605ca8;
    background-color: #efefef;
}
